.modal-autorisation {
    background-color: white;
    width: 300px;
    margin-top: 15%;
    margin-left: 40%;
    display: block;
}

.modal-ordering {
    background-color: white;
    width: 500px;
    margin-left: 30%;
    display: block;
}

