.modal-autorisation {
    background-color: white;
    min-width: 300px;
    width: 20%;
    margin-top: 10%;
    margin-left: 35%;
    display: block;
}

.modal-ordering {
    background-color: white;
    width: 500px;
    margin-left: 30%;
    display: block;
}

.capture-autorisation {
    text-align: center;
}
