.customer-content {
    margin: 77px auto;
    width: 60%;
    min-height: 400px;
}

.customer-content__order-capture {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    width: 60%;
    margin:auto;
    align-items: baseline;
}
.order-capture__text {
    width:60%;
}

.order-capture__button {
    height: 40px;
    width:30%;
}

.capture-ordering {
    text-align: center;
}
